{% extends 'layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.0.1/css/responsive.bootstrap.min.css"/>
 


 
{% endblock %}

{% block content_body %}

{% if vars.listing_split.number_of_rows > 0  %}
<div class="alert alert-info">
    <div class="row">
		<div class="col-md-12">
			<h5>Quick Reference</h5>
		</div>	
        <div class="col-md-6">
	        
	        <ul>
	            <li>Click on <b>Reschedule Removal</b> to update a signpost's removal date.</li>
	            <li>Click on <b>Schedule Service Call</b> to place a service call.</li>
	            <li>Click on <b>History</b> to get more details for this order.</li>
				<li>If you see <b>a + sign</b> by the address, click it for more options.</li>
	        </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li><b>Installation Pending</b>: Order has been placed, but not installed yet.  You can make changes to the order via the website.</li>
                <li><b>Installation Scheduled</b>: Order is on the installer's job sheet for today.  You must call or e-mail us to make changes to the order.</li>
                <li><b>Installed</b>: The signpost has been installed at the property.</li>
	        </ul>
        </div>
    </div>
</div>
{% endif %}

{% if error.get_error_status('agent_active_addresses') %}
	<div class="alert alert-danger">
		{{ error.get_error_string('agent_active_addresses')|raw }}
	</div>
{% endif %}

<div class="row">
	<div class="col-md-12">
	<div class="form-group">
		<form action="aom_active_addresses.php?page_action=view_agent" method="POST">
				<label for="house_number">Select an Agent:</label>
				{{ include('/macros/pulldown.html.twig', {'args': vars.pulldowns['agents']}) }}
			</div>
			</form>
	</div>
	
	{% if vars.deferred is not null %}
		<div class="alert alert-danger">
			Account Alert: You have an unpaid balance of ${{ vars.deferred }} that will be added to your next order.  For more information or make a payment, <b><a href="/order_deferred_payment.php">click here.</a></b>
		</div>
	{% endif %}

	<div class="col-lg-12">

		  <table id="datatableAddress" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
		  <thead>
								<tr>
									<th data-priority="1">Address</th>
									<th>Agent</th>
									<th>Date Placed</th>
									<th>Install Date</th>
									<th>Removal Date</th>
									<th>Current Status</th>
									<th data-priority="2">Service</th>
									<th>History</th>
									<th data-priority="3">Reschedule</th>
								</tr>
			</thead>
			

			{% if vars.listing_split.number_of_rows > 0  %}
			<tbody>
								{% for result in vars.table %}
								<tr>
									<td class="pageBoxContent">{{ result['house_number'] }}<br> {{ result['street_name'] }},<br> {{ result['city'] }}<br> {{ result['state_name'] }}</td>
									<td class="pageBoxContent">{{ result['firstname'] }} {{ result['lastname'] }}</td>
									<td class="pageBoxContent">{{ result['date_added']|date("m/d/Y") }}</td>
									<td class="pageBoxContent">
										{% if (result.install_date['date_schedualed'] is not null) and (result.install_date['date_schedualed']>0) %}
											{{ result.install_date['date_schedualed']|date("m/d/Y") }}
										{% else %}
											Never
										{% endif %}
									</td>
									<td class="pageBoxContent">
										{% if (result.removal_date['date_schedualed']>0) %}
											{{ result.removal_date['date_schedualed']|date("m/d/Y") }}
										{% else %}
											None Scheduled
										{% endif %}
									</td>
									
									<td class="pageBoxContent">{{ result['status'] }}</td>
									
									<td class="pageBoxContent">
										<a class="btn btn-warning btn-sm" href="{{ constant('FILENAME_AOM_ORDER_CREATE_ADDRESS') }}?agent_id={{ agentID }}&clearSC=true">Schedule Service Call</a>
									</td>
									<td class="pageBoxContent">
										<a class="btn btn-primary btn-sm" href="{{ constant('FILENAME_AOM_ACTIVE_ADDRESSES') }}?aID={{ result['address_id'] }}&page_action=view_history">History</a>
									</td>
									
									<td class="pageBoxContent">
										{% if (result.removal_date['order_status_id'] <= 1) or (result.removal_date['order_status_id'] > 3) %}
											<a class="btn btn-success btn-sm" href="{{ constant('FILENAME_AOM_ACTIVE_ADDRESSES') }}?aID={{ result['address_id'] }}&page_action=reschedule_removal">Reschedule Removal</a>
										
										{% else %}
											-
										{% endif %}
									</td>
									
											
								</tr>
								{% endfor %}
			</tbody>
			{% else %} 
			<tbody>
				Sorry no orders could be found.  Please either schedule a new one or change the options on the right.
			</tbody>

			{% endif %}

		  </table>

	</div>
	
	
</div>

</div>
{% endblock content_body %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.0.1/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.0.1/js/responsive.bootstrap.min.js"></script>




<script>
$(document).ready(function() {
    $('#datatableAddress').DataTable(
	{
        "order": [[ 2, "desc" ]]
    }
	);
} );
</script>

{% endblock %}